
# ignore folder
OriginalData

# text files
data/**.txt 

# excel file without demo.xlsx
data/**.xlsx
!data/demo.xlsx

# cpp compiled files
cpp-takeoutput/**
!cpp-takeoutput/**.cpp

# python compiled file
python-takeinput/*/__pycache__



.dist
.vscode
