
# text files
data/**.txt
!data/2019_June_Sample.txt

# excel file without demo.xlsx
data/**.xlsx
!data/demo.xlsx
!data/2019_June_Sample.xlsx

# cpp compiled files
cpp-takeoutput/**
!cpp-takeoutput/**.cpp

# python compiled file
python-takeinput/*/__pycache__



.dist
.vscode
